# Activer le module de réécriture d'url
RewriteEngine on

# Lister les différentes règles de réécriture
# L'expression ([0-9]) de l'expression régulière se retrouve dans $1 // $2, $3, $n... si plusieurs groupes ([0-9])
RewriteRule ^create/([0-9]+)$ index.php?page=create

