# Activer le module de réécriture d'url
RewriteEngine on

# Lister les différentes règles de réécriture
RewriteRule ^create$   ./index.php?page=create
RewriteRule ^login$   ./index.php?page=login
RewriteRule ^index$   ./index.php?page=index
RewriteRule ^logout$   ./index.php?page=logout
RewriteRule ^home$   ./index.php?page=home

